.header{
    width: 100%;
    height: 1.9rem;
}
.headerBox{
    width: 7.02rem;
    height: 100%;
    margin: 0 auto;
    padding-top: 1.1rem;
    font-size: 0.36rem;
    letter-spacing: 0.02rem;
    color: #040404;
    border-bottom: 0.02rem dotted rgba(0,0,0,0.6);
}
/*header*/
.banner{
    width: 100%;
    height: 1rem;
}
.bannerBox{
    width: 7.02rem;
    height: 100%;
    margin: 0 auto;
}
.bannerBox .one{
    float: left;
    width: 0.16rem;
    height: 0.16rem;
    margin-top: 0.4rem;
    background-color: #fa2806;
    border: solid 0.03rem #fa502f;
    border-radius: 50%;
}
.bannerBox .two{
    float: left;
    width: 0.16rem;
    height: 0.16rem;
    margin-top: 0.4rem;
    margin-left: 0.05rem;
    background-color: #fa2806;
    border: solid 0.03rem #fa502f;
    border-radius: 50%;
}
.bannerBox .three{
    float: left;
    margin-top: 0.3rem;
    margin-left: 0.05rem;
    font-size: 0.24rem;
    letter-spacing: 0.01rem;
    color: #040404;
    opacity: 0.67;
}
.bannerBox .four{
    float: left;
    margin-top: 0.4rem;
    margin-left: 3rem;
    font-size: 0.18rem;
    letter-spacing: 0.01rem;
    color: #f15228;
    opacity: 0.68;
}
.bannerBox .five{
    float: left;
    margin-top: 0.2rem;
    font-size: 0.36rem;
    letter-spacing: 0.02rem;
    color: #f91005;
}
/*banner*/
.bank{
    width: 100%;
    height: 4.08rem;
    position: relative;
}
.bankBox{
    width: 6.04rem;
    height: 100%;
    margin: 0 auto;
}
.bankBox>img{
    width: 6.04rem;
    height: 3.36rem;
}
.bank .lucency>img{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.36rem;
}
/*bank*/
.fingerprint{
    width: 100%;
    height: 5.96rem;
    position: fixed;
    bottom: 0;
}
.fingerprintBox{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.fingerprintBox>img{
    width: 100%;
    height: 5.96rem;
}
/*指纹*/